### TIME SERIES


Time Series is an important form of structured data in many differenet fields, such as finance, economics, ecology, neuroscience, physiscs. Anything that is observed or measured at many points in time forms a time series.

In [10]:
from datetime import datetime
import pandas as pd
import numpy as np

In [11]:
now = datetime.now()

In [12]:
now

datetime.datetime(2025, 6, 22, 13, 10, 18, 125002)

In [13]:
datetime.now().year

2025

In [14]:
datetime.now().month

6

In [15]:
datetime.now().day

22

In [16]:
datetime.now().hour

13

In [17]:
datetime.now().min

datetime.datetime(1, 1, 1, 0, 0)

In [18]:
df = pd.DataFrame({'year': [2015, 2016],
                   'month': [2, 3],
                   'day': [4, 5]})

In [19]:
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [20]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [25]:
now.today

In [26]:
now

datetime.datetime(2025, 6, 22, 13, 10, 18, 125002)

In [27]:
now.day

22

In [28]:
now.hour

13

In [29]:
now.min

datetime.datetime(1, 1, 1, 0, 0)

In [30]:
now.minute

10

In [31]:
now.second

18

In [32]:
now.microsecond

125002

In [33]:
start = datetime(2011, 1, 7)

In [37]:
end = datetime(2013, 4, 5, 15)

In [38]:
end - start

datetime.timedelta(days=819, seconds=54000)

In [39]:
start

datetime.datetime(2011, 1, 7, 0, 0)

In [40]:
end

datetime.datetime(2013, 4, 5, 15, 0)

In [41]:
from datetime import timedelta

In [42]:
start+ timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [43]:
start

datetime.datetime(2011, 1, 7, 0, 0)

In [44]:
str(start)

'2011-01-07 00:00:00'

In [45]:
start.strftime('%Y-%m-%d')

'2011-01-07'

In [46]:
datetime.strptime(start.strftime('%Y-%m-%d'), '%Y-%m-%d')

datetime.datetime(2011, 1, 7, 0, 0)

In [47]:
from dateutil.parser import parse

In [48]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [49]:
pd.to_datetime('2011-01-03')

Timestamp('2011-01-03 00:00:00')

In [51]:
pd.date_range('2001-01-01', '2001-01-10')

DatetimeIndex(['2001-01-01', '2001-01-02', '2001-01-03', '2001-01-04',
               '2001-01-05', '2001-01-06', '2001-01-07', '2001-01-08',
               '2001-01-09', '2001-01-10'],
              dtype='datetime64[ns]', freq='D')

In [52]:
pd.date_range('2001-01-01', periods = 10)

DatetimeIndex(['2001-01-01', '2001-01-02', '2001-01-03', '2001-01-04',
               '2001-01-05', '2001-01-06', '2001-01-07', '2001-01-08',
               '2001-01-09', '2001-01-10'],
              dtype='datetime64[ns]', freq='D')

In [57]:
pd.date_range('2001-01-01', periods = 10, freq = 'BME')

DatetimeIndex(['2001-01-31', '2001-02-28', '2001-03-30', '2001-04-30',
               '2001-05-31', '2001-06-29', '2001-07-31', '2001-08-31',
               '2001-09-28', '2001-10-31'],
              dtype='datetime64[ns]', freq='BME')

In [80]:
pd.date_range('2001-01-01', periods = 10, freq = 'YS')

DatetimeIndex(['2001-01-01', '2002-01-01', '2003-01-01', '2004-01-01',
               '2005-01-01', '2006-01-01', '2007-01-01', '2008-01-01',
               '2009-01-01', '2010-01-01'],
              dtype='datetime64[ns]', freq='YS-JAN')

In [83]:
pd.date_range('2001-01-01', periods = 10, freq = '4h10min')

DatetimeIndex(['2001-01-01 00:00:00', '2001-01-01 04:10:00',
               '2001-01-01 08:20:00', '2001-01-01 12:30:00',
               '2001-01-01 16:40:00', '2001-01-01 20:50:00',
               '2001-01-02 01:00:00', '2001-01-02 05:10:00',
               '2001-01-02 09:20:00', '2001-01-02 13:30:00'],
              dtype='datetime64[ns]', freq='250min')

In [84]:
pd.date_range('2001-01-01', periods = 10, freq = 'WOM-3FRI')

DatetimeIndex(['2001-01-19', '2001-02-16', '2001-03-16', '2001-04-20',
               '2001-05-18', '2001-06-15', '2001-07-20', '2001-08-17',
               '2001-09-21', '2001-10-19'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [85]:
df = pd.date_range('2001-01-01', periods = 10, freq = 'YS')

In [86]:
df

DatetimeIndex(['2001-01-01', '2002-01-01', '2003-01-01', '2004-01-01',
               '2005-01-01', '2006-01-01', '2007-01-01', '2008-01-01',
               '2009-01-01', '2010-01-01'],
              dtype='datetime64[ns]', freq='YS-JAN')

In [92]:
df = pd.Series(np.random.randint(0, 7, 10), index = pd.date_range('2000/01/01', periods = 10, freq = 'ME'))

In [93]:
df

2000-01-31    1
2000-02-29    4
2000-03-31    3
2000-04-30    5
2000-05-31    4
2000-06-30    5
2000-07-31    3
2000-08-31    1
2000-09-30    0
2000-10-31    1
Freq: ME, dtype: int32

In [94]:
df.shift(3)

2000-01-31    NaN
2000-02-29    NaN
2000-03-31    NaN
2000-04-30    1.0
2000-05-31    4.0
2000-06-30    3.0
2000-07-31    5.0
2000-08-31    4.0
2000-09-30    5.0
2000-10-31    3.0
Freq: ME, dtype: float64

In [95]:
df

2000-01-31    1
2000-02-29    4
2000-03-31    3
2000-04-30    5
2000-05-31    4
2000-06-30    5
2000-07-31    3
2000-08-31    1
2000-09-30    0
2000-10-31    1
Freq: ME, dtype: int32

In [96]:
df/df.shift(1)-1

2000-01-31         NaN
2000-02-29    3.000000
2000-03-31   -0.250000
2000-04-30    0.666667
2000-05-31   -0.200000
2000-06-30    0.250000
2000-07-31   -0.400000
2000-08-31   -0.666667
2000-09-30   -1.000000
2000-10-31         inf
Freq: ME, dtype: float64

df

In [98]:
df.shift(3)

2000-01-31    NaN
2000-02-29    NaN
2000-03-31    NaN
2000-04-30    1.0
2000-05-31    4.0
2000-06-30    3.0
2000-07-31    5.0
2000-08-31    4.0
2000-09-30    5.0
2000-10-31    3.0
Freq: ME, dtype: float64

In [100]:
df.shift(3, freq = 'ME')

2000-04-30    1
2000-05-31    4
2000-06-30    3
2000-07-31    5
2000-08-31    4
2000-09-30    5
2000-10-31    3
2000-11-30    1
2000-12-31    0
2001-01-31    1
Freq: ME, dtype: int32

In [101]:
df.shift(3, freq = 'D')

2000-02-03    1
2000-03-03    4
2000-04-03    3
2000-05-03    5
2000-06-03    4
2000-07-03    5
2000-08-03    3
2000-09-03    1
2000-10-03    0
2000-11-03    1
dtype: int32

### TIME ZONE HANDLING

Generally, many time series users choose to work with time series in the coordinated universal time or UTC, which is the successor to the Greenwich Mean Time and is the current international standard. Time zones are expressed as offsets from UTC;

For example, New York is four hours behind UTC during daylight saving time and five hours behind the rest of the year.


In Python, time zone information comes from the third-party pytz library, which exposes the Olson database, a compilation of the world time zone information.

In [103]:
import pytz

In [125]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [105]:
rng = pd.date_range('3/9/2012 9:30', periods = 6, freq='D')

In [106]:
rng

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [108]:
print(rng.tz)

None

In [112]:
rng = rng.tz_localize('UTC')

In [113]:
print(rng.tz)

UTC

In [114]:
rng

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [120]:
rng = rng.tz_convert('America/New_York')

In [121]:
rng.tz

In [122]:
rng

DatetimeIndex(['2012-03-09 04:30:00-05:00', '2012-03-10 04:30:00-05:00',
               '2012-03-11 05:30:00-04:00', '2012-03-12 05:30:00-04:00',
               '2012-03-13 05:30:00-04:00', '2012-03-14 05:30:00-04:00'],
              dtype='datetime64[ns, America/New_York]', freq='D')

In [139]:
rng = pd.date_range('3/7/2012 9:30', periods = 10, freq = 'B')

In [140]:
rng

DatetimeIndex(['2012-03-07 09:30:00', '2012-03-08 09:30:00',
               '2012-03-09 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00',
               '2012-03-15 09:30:00', '2012-03-16 09:30:00',
               '2012-03-19 09:30:00', '2012-03-20 09:30:00'],
              dtype='datetime64[ns]', freq='B')

In [127]:
ts = pd.Series(np.random.randn(len(rng)), index = rng)

In [128]:
ts

2012-03-07 09:30:00   -0.321751
2012-03-08 09:30:00   -0.641421
2012-03-09 09:30:00    0.108303
2012-03-12 09:30:00    0.578943
2012-03-13 09:30:00    0.085149
2012-03-14 09:30:00   -0.475363
2012-03-15 09:30:00   -0.058874
2012-03-16 09:30:00    0.295707
2012-03-19 09:30:00   -1.009765
2012-03-20 09:30:00   -1.396530
Freq: B, dtype: float64

In [129]:
ts1 = ts[:7].tz_localize('Europe/London')

In [130]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [131]:
ts1

2012-03-07 09:30:00+00:00   -0.321751
2012-03-08 09:30:00+00:00   -0.641421
2012-03-09 09:30:00+00:00    0.108303
2012-03-12 09:30:00+00:00    0.578943
2012-03-13 09:30:00+00:00    0.085149
2012-03-14 09:30:00+00:00   -0.475363
2012-03-15 09:30:00+00:00   -0.058874
dtype: float64

In [132]:
ts2

2012-03-09 13:30:00+04:00    0.108303
2012-03-12 13:30:00+04:00    0.578943
2012-03-13 13:30:00+04:00    0.085149
2012-03-14 13:30:00+04:00   -0.475363
2012-03-15 13:30:00+04:00   -0.058874
dtype: float64

In [133]:
result = ts1+ts2

In [134]:
result

2012-03-07 09:30:00+00:00         NaN
2012-03-08 09:30:00+00:00         NaN
2012-03-09 09:30:00+00:00    0.216605
2012-03-12 09:30:00+00:00    1.157885
2012-03-13 09:30:00+00:00    0.170298
2012-03-14 09:30:00+00:00   -0.950726
2012-03-15 09:30:00+00:00   -0.117749
dtype: float64

In [135]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq=None)

In [155]:
rng = pd.date_range('2001-01', '2001-06', freq = 'ME')

In [156]:
rng

DatetimeIndex(['2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30',
               '2001-05-31'],
              dtype='datetime64[ns]', freq='ME')

In [157]:
datetime.now()

datetime.datetime(2025, 6, 22, 18, 23, 52, 883678)

In [159]:
p = pd.Period(2007, freq = 'Y-DEC')

In [160]:
p

Period('2007', 'Y-DEC')

In [161]:
rng = pd.period_range('2001-01-01', '2001-06-30', freq = 'M')

In [162]:
rng

PeriodIndex(['2001-01', '2001-02', '2001-03', '2001-04', '2001-05', '2001-06'], dtype='period[M]')

In [163]:
pd.Series(np.random.randn(6), index = rng)

2001-01   -1.291394
2001-02    2.454781
2001-03    1.302046
2001-04   -1.086945
2001-05    0.229513
2001-06    2.152391
Freq: M, dtype: float64

In [164]:
p = pd.Period('2007', freq = 'Y-JUN')

In [165]:
p

Period('2007', 'Y-JUN')

In [167]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [168]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [171]:
rng = pd.period_range('2006', '2009', freq='Y-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [172]:
rng

PeriodIndex(['2006', '2007', '2008', '2009'], dtype='period[Y-DEC]')

In [173]:
ts

2006   -0.131543
2007    0.242537
2008   -0.406273
2009   -1.474914
Freq: Y-DEC, dtype: float64

In [174]:
ts.asfreq('M', how = 'start')

2006-01   -0.131543
2007-01    0.242537
2008-01   -0.406273
2009-01   -1.474914
Freq: M, dtype: float64

In [175]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(rng, index=np.arange(0, 6))

In [176]:
rng

DatetimeIndex(['2012-03-09 09:30:00', '2012-03-10 09:30:00',
               '2012-03-11 09:30:00', '2012-03-12 09:30:00',
               '2012-03-13 09:30:00', '2012-03-14 09:30:00'],
              dtype='datetime64[ns]', freq='D')

In [177]:
ts

0   2012-03-09 09:30:00
1   2012-03-10 09:30:00
2   2012-03-11 09:30:00
3   2012-03-12 09:30:00
4   2012-03-13 09:30:00
5   2012-03-14 09:30:00
dtype: datetime64[ns]

In [178]:
ts.index

Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [179]:
ts.values

array(['2012-03-09T09:30:00.000000000', '2012-03-10T09:30:00.000000000',
       '2012-03-11T09:30:00.000000000', '2012-03-12T09:30:00.000000000',
       '2012-03-13T09:30:00.000000000', '2012-03-14T09:30:00.000000000'],
      dtype='datetime64[ns]')

### RESAMPLING

Resampling refers to the process of converting a time series from one frequency to another.
* Aggregating higher frequency data to lower frequency is called as downsampling.
* Converting lower frequency data to higher frequency data is called as upsampling.
* Some samplings are neither upsampling nor downsampling such as conversion of W-WED to W-FRI.